h1{
    text-align: center;
}
.nav-menu{
    font-size: 40px;
    background-color: antiquewhite;
    padding: 10px;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .nav-menu a{
    text-decoration: none;
    color: black;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }
  
  .nav-menu a#current{
    text-decoration: underline;
    color: black;
  }
  
  .nav-menu a:hover{
    text-decoration: underline;
    color: black;
    text-transform: uppercase;
  }
  
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 20px;
}

.card {
    width: 100%;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
img {
    float: left;
    width:  100%;
    height: 300px;
    padding-bottom: 10px;
}
 
.container {
    height: 50%;
    padding: 16px 16px;
  }

.play {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }

/* style for meaning-number.html below */
.quiz-container{
    height: 100%; 
    margin-top: 20%;
    
}

.quiz-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#eef;
    border-radius: 10px;
    padding: 10px 40px;  
}

.question{
    width: 60%;   
}
.question-text{
  font-size: x-large;
}
.question-chinese{
  font-size: xx-large;
  font-family: 'Microsoft YaHei';
  font-weight: bolder;
  width: fit-content;
  background-color: #986ce8;
  border-radius: 8px;
  padding: 4px 8px;
}

/* style for radio button */
.options {
  width: 40%;
  height: 100%;
  padding: 20px;
}

#option1 {
  background-color: #986ce8;
  border-radius: 8px;
  padding: 4px 8px;
}

#option2 {
  background-color: #986ce8;
  border-radius: 8px;
  padding: 4px 8px;
}
#option3 {
  background-color: #986ce8;
  border-radius: 8px;
  padding: 4px 8px;
}
#option4 {
  background-color: #986ce8;
  border-radius: 8px;
  padding: 4px 8px;
}

label {
  font-size: x-large;
  color: #FFFFFF;
}
input {
  margin: 0.8rem;
  height:30px; 
  width:30px; 
  vertical-align: middle;
}


/* style for model*/
.modal {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    font-size: larger;
}

::backdrop {
    background-color: #000;
    opacity: 0.5;
  }

#correctModal {
  background-color: rgb(146, 247, 213);
  border-color:white;
  border-width: 1px;
  border-radius: 10px;
  font-size: large;
}

#wrongModal {
  background-color:rgb(253, 97, 97);
  border-color:white;
  border-width: 1px;
  border-radius: 10px;
  font-size: large;
}

#winModal {
  width: 35%;
  background-color: rgb(146, 247, 213);
  border-color:white;
  border-width: 1px;
  border-radius: 10px;
  font-size: x-large;
}

#winModlImage {
  width: fit;
  height: auto;
  border-radius: 5px;
}

#loseModal {
  width: 35%;
  background-color: rgb(253, 97, 97);
  border-color:white;
  border-width: 1px;
  border-radius: 10px;
  font-size: x-large;
}

#loseModlImage {
  width: fit;
  height: auto;
  border-radius: 5px;
}

#correctClose,
#wrongClose {
  background-color:white;
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: large;
  font-weight: 500;
  height: 30px;
  transition: color 100ms;
}

#redoBut,
#backToHome,
#nextLevel {
  background-color: white;
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: small;
  font-weight: 500;
  height: 30px;
  transition: color 100ms;
}

#correctClose:hover,
#wrongClose:hover,
#redoBut:hover,
#backToHome:hover {
  background-color:rgb(233, 219, 219);
}

/* style for pronuacition-number below*/
.question-chinese-pron{
  font-size: xx-large;
  font-family: 'Microsoft YaHei';
  font-weight: bolder;
  width: fit-content;
  background-color: #e95d93;
  border-radius: 8px;
  padding: 4px 8px;
}

.lable {
  display: flex;
  flex-direction: row;

}

.quiz-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#c9e0f3;
  border-radius: 10px;
  padding: 10px 40px;  
}

.playButton {
  background-color: #e95d93;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: large;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.playButton:hover,
.playButton:focus {
  background-color: #F082AC;
}

